name: Create JIRA issue

permissions:
  issues: write

on:
  issues:
    types: [opened]

jobs:
  call-workflow-create-jira-issue:
    uses: ./.github/workflows/reusable-jira-issue_to_jira.yml
    secrets:
      JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
      JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
      JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
    with:
      project-key: DEVOPS
