name: Build poetry package

on:
  workflow_call:
    inputs:
        package-name:
            description: Name of the package to build
            required: true
            type: string
        source-path:
            description: Path to the source code (e.g. "src"), where the recipe.yaml is located
            required: false
            type: string
            default: ''
        python-version:
            description: Python version to use (e.g. 3.10)
            required: true
            type: string
        version-tag:
            description: Version tag of the package to build
            required: true
            type: string
        virtual-repo-names:
            description: 'List of repository names to publish on (e.g. ["public-dev-pypi"])'
            required: true
            type: string
        os:
            description: OS to build against (e.g. "ubuntu-latest")
            required: true
            type: string
        lfs:
            description: Boolean to indicate if GitHub LFS is needed
            required: false
            type: boolean
            default: false
        timeout-minutes:
            description: Timeout in minutes for the job
            required: true
            type: number
    outputs:
        build-dir-path:
            description: Path to the build directory
            value: ${{ jobs.build_package.outputs.build-dir-path }}
        version:
            description: Version of the package
            value: ${{ jobs.build_package.outputs.version }}
    secrets:
        JFROG_ARTIFACTORY_URL:
            description: JFrog Artifactory URL
            required: true
        JFROG_ARTIFACTORY_TOKEN:
            description: JFrog Artifactory Token
            required: true

defaults:
    run:
        shell: 'bash -l {0}'

jobs:
    build_package:
        name: Build poetry package
        runs-on: ${{ inputs.os }}
        timeout-minutes: ${{ inputs.timeout-minutes }}
        outputs:
            build-dir-path: ${{ steps.define-build-path.outputs.dir-path }}
            version: ${{ steps.get-version.outputs.version }}
        steps:
            -   name: Checkout
                uses: actions/checkout@v5
                with:
                    lfs: ${{ inputs.lfs }}
                    fetch-depth: 0
                    persist-credentials: false
            -   name: Get version
                id: get-version
                env:
                  INPUTS_VERSION_TAG: ${{ inputs.version-tag }}
                run: |
                    if [ "${INPUTS_VERSION_TAG}" = "v0.0.0" ]; then
                        echo "Version tag not available"
                        exit 1
                    fi
                    VERSION=$(echo "${INPUTS_VERSION_TAG}" | sed 's/v//')
                    echo "version: ${VERSION}"
                    if [ -z "${VERSION}" ]; then
                        echo "Version is not available"
                        exit 1
                    fi
                    echo "version=${VERSION}" >> $GITHUB_OUTPUT
            -   uses: jfrog/setup-jfrog-cli@v4.8.0
                name: Setup JFrog CLI
                env:
                    JF_URL: https://${{ secrets.JFROG_ARTIFACTORY_URL }}
                    JF_ACCESS_TOKEN: ${{ secrets.JFROG_ARTIFACTORY_TOKEN }}

            -   name: Set up Python version
                uses: actions/setup-python@v6
                with:
                    python-version: ${{ inputs.python-version }}
            -   name: Install poetry
                run: |
                    curl -sSL https://install.python-poetry.org | POETRY_HOME=$HOME/.poetry python -
                    echo "$HOME/.poetry/bin" >> $GITHUB_PATH
            -   name: Configure poetry
                env:
                  INPUTS_VIRTUAL_REPO_NAMES: ${{ inputs.virtual-repo-names }}
                run: |
                    poetry config virtualenvs.create true
                    poetry config virtualenvs.in-project true

                    repository_list=$(echo "${INPUTS_VIRTUAL_REPO_NAMES}" | jq -r '.[]')
                    for repo_name in ${repository_list}; do
                        first_part=$(echo "$repo_name" | cut -d'-' -f1 | tr '[:upper:]' '[:lower:]')
                        echo "Adding repository $repo_name under $first_part"
                        poetry source add --priority=supplemental ${first_part} https://${{ secrets.JFROG_ARTIFACTORY_URL }}/artifactory/api/pypi/${repo_name}/simple
                        poetry config -- http-basic.${first_part} github ${{ secrets.JFROG_ARTIFACTORY_TOKEN }}
                    done
            -   name: Poetry build
                working-directory: ${{ inputs.source-path || '.' }}
                run: poetry build

            -   name: Define build path
                id: define-build-path
                env:
                    SOURCE_PATH: ${{ inputs.source-path || '.' }}
                run: |
                    DIR_PATH="${SOURCE_PATH}/dist/"
                    echo "dir-path: ${DIR_PATH}"
                    if [[ ! -d ${DIR_PATH} ]]; then
                        echo "No build path found"
                        exit 1
                    fi
                    echo "dir-path=${DIR_PATH}" >> $GITHUB_OUTPUT
            -   name: Archive build artifact
                uses: actions/upload-artifact@v5
                with:
                    name: ${{ inputs.package-name }}-pip-package-build
                    path: ${{ steps.define-build-path.outputs.dir-path }}
