name: Check Version

on:
  workflow_call:
    inputs:
      version-tag:
        description: 'Version tag to check'
        required: true
        type: string
    outputs:
      is-publishable:
        description: 'Whether the version is publishable'
        value: ${{ jobs.is_publishable.outputs.is-publishable }}

permissions: {}

jobs:
  is_publishable:
    name: Check if version is publishable
    permissions:
      contents: read
    runs-on: 'ubuntu-latest'
    timeout-minutes: 5
    outputs:
      is-publishable: ${{ steps.check-version.outputs.is-publishable }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          working-directory: .github/scripts
          activate-environment: true
      - name: Check if version is publishable
        id: check-version
        env:
          VERSION_TAG: ${{ inputs.version-tag }}
        run: |
          if uv run version_checks publishable $VERSION_TAG; then
            echo "is-publishable=true" >> "$GITHUB_OUTPUT"
          else
            echo "is-publishable=false" >> "$GITHUB_OUTPUT"
          fi