name: Publish PyPI package

on:
  workflow_call:
    inputs:
        package-manager:
            description: Name of the package manager (e.g. "poetry")
            required: true
            type: string
            default: poetry
        package-name:
            description: Name of the package to build
            required: true
            type: string
        python-version:
            description: Python version to use (e.g. 3.10)
            required: true
            type: string
        lfs:
            description: Boolean to indicate if GitHub LFS is needed
            required: false
            type: boolean
            default: true
        virtual-repo-names:
            description: 'List of virtual repository names to publish to (e.g. ["public-pypi-dev", "geophysics-pypi-dev"])'
            required: true
            type: string
        os:
            description: OS to build against (e.g. "ubuntu-latest")
            required: false
            type: string
            default: ubuntu-latest
        timeout-minutes:
            description: Timeout in minutes for the job
            required: false
            type: number
            default: 20
        source-path:
            description: Path to the source code (e.g. "src"), where the recipe.yaml is located
            required: false
            type: string
            default: ''
        version-tag:
            description: Version tag of the package to build (defaults to github.ref_name if not provided)
            required: false
            type: string
    secrets:
        JFROG_ARTIFACTORY_URL:
            description: JFrog Artifactory URL
            required: true
        JFROG_ARTIFACTORY_TOKEN:
            description: JFrog Artifactory Token
            required: true
        PYPI_TOKEN:
            description: PyPI Token
            required: false

permissions:
    contents: read

defaults:
    run:
        shell: 'bash -l {0}'

jobs:
    build_poetry_package:
        name: Build poetry package
        if: ${{ inputs.package-manager == 'poetry' && github.repository_owner == 'MiraGeoscience' }}
        uses: MiraGeoscience/CI-tools/.github/workflows/reusable-python-build_poetry_package.yml@main
        with:
            package-name: ${{ inputs.package-name }}
            source-path: ${{ inputs.source-path || '.' }}
            python-version: ${{ inputs.python-version }}
            lfs: ${{ inputs.lfs }}
            version-tag: ${{ inputs.version-tag || github.ref_name }}
            virtual-repo-names: ${{ inputs.virtual-repo-names }}
            os: ${{ inputs.os }}
            timeout-minutes: ${{ inputs.timeout-minutes }}
        secrets:
            JFROG_ARTIFACTORY_URL: ${{ secrets.JFROG_ARTIFACTORY_URL }}
            JFROG_ARTIFACTORY_TOKEN: ${{ secrets.JFROG_ARTIFACTORY_TOKEN }}

    build_setuptools_package:
        name: Build setuptools package
        if: ${{ inputs.package-manager == 'setuptools' && github.repository_owner == 'MiraGeoscience' }}
        uses: MiraGeoscience/CI-tools/.github/workflows/reusable-python-build_setuptools_package.yml@main
        with:
            package-name: ${{ inputs.package-name }}
            python-version: ${{ inputs.python-version }}
            lfs: ${{ inputs.lfs }}
            version-tag: ${{ inputs.version-tag || github.ref_name }}
            virtual-repo-names: ${{ inputs.virtual-repo-names }}
            os: ${{ inputs.os }}
            timeout-minutes: ${{ inputs.timeout-minutes }}
        secrets:
            JFROG_ARTIFACTORY_URL: ${{ secrets.JFROG_ARTIFACTORY_URL }}
            JFROG_ARTIFACTORY_TOKEN: ${{ secrets.JFROG_ARTIFACTORY_TOKEN }}

    is_publishable:
        name: Check version publishability
        uses: MiraGeoscience/CI-tools/.github/workflows/reusable-version-check.yml@v2
        with:
          version-tag: ${{ inputs.version-tag || github.ref_name }}

    publish_package:
        name: Publish package
        needs: [ build_poetry_package, build_setuptools_package, is_publishable ]
        if: ${{ always() && contains(needs.*.result, 'success') && !contains(needs.*.result, 'failure') && github.repository_owner == 'MiraGeoscience' && needs.is_publishable.outputs.is-publishable == 'true' }}
        runs-on: ubuntu-latest
        timeout-minutes: 5
        strategy:
            fail-fast: false
            matrix:
                virtual-repo-name: ${{ fromJson(inputs.virtual-repo-names) }}
        steps:
            -   name: Select build outputs form the correct job
                id: select-build-outputs
                run: |
                    if [[ "${{ needs.build_poetry_package.result }}" == "success" ]]; then
                        echo "build-dir-path=${{ needs.build_poetry_package.outputs.build-dir-path }}" >> $GITHUB_ENV
                        echo "version=${{ needs.build_poetry_package.outputs.version }}" >> $GITHUB_ENV
                    elif [[ "${{ needs.build_setuptools_package.result }}" == "success" ]]; then
                        echo "build-dir-path=${{ needs.build_setuptools_package.outputs.build-dir-path }}" >> $GITHUB_ENV
                        echo "version=${{ needs.build_setuptools_package.outputs.version }}" >> $GITHUB_ENV
                    else
                        echo "No successful build found"
                        exit 1
                    fi
            -   name: Download build artifact
                uses: actions/download-artifact@v6
                with:
                    name: ${{ inputs.package-name }}-pip-package-build
                    path: ${{ env.build-dir-path }}
            -   name: Publish package to Artifactory
                uses: MiraGeoscience/CI-tools/.github/actions/reusable-python-publish_to_artifactory@v2
                if: ${{ matrix.virtual-repo-name != 'pypi' && matrix.virtual-repo-name != 'test-pypi' }}
                with:
                    build-dir-path: ${{ env.build-dir-path }}
                    artifactory-dir-path: ${{ matrix.virtual-repo-name }}/${{ inputs.package-name }}/${{ env.version }}
                    JFROG_ARTIFACTORY_URL: ${{ secrets.JFROG_ARTIFACTORY_URL }}
                    JFROG_ARTIFACTORY_TOKEN: ${{ secrets.JFROG_ARTIFACTORY_TOKEN }}
            -   name: Publish package to PyPI
                if: ${{ matrix.virtual-repo-name == 'pypi'  || matrix.virtual-repo-name == 'test-pypi'}}
                uses: pypa/gh-action-pypi-publish@release/v1
                with:
                    verbose: true
                    packages-dir: ${{ env.build-dir-path }}/
                    repository-url: https://${{ matrix.virtual-repo-name == 'test-pypi' && 'test.pypi' || 'upload.pypi'}}.org/legacy/
                    password: ${{ secrets.PYPI_TOKEN }}

    add_release_asset:
        name: Add release asset
        needs: publish_package
        if: ${{ always() && needs.publish_package.result == 'success' }}
        permissions:
            contents: write
        runs-on: ubuntu-latest
        timeout-minutes: 5
        steps:
            -   name: Get draft release
                uses: MiraGeoscience/CI-tools/.github/actions/reusable-get_draft_release@v2
                id: get-draft-release
                with:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            -   name: Download build artifact
                uses: actions/download-artifact@v6
                with:
                    name: ${{ inputs.package-name }}-pip-package-build
                    path: download-artifact
            -   name: Upload release asset
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                    GH_REPO: ${{ github.repository }}
                run: gh release upload --clobber ${{ steps.get-draft-release.outputs.release-tag }} download-artifact/*
